@import '../../assets/master';

.Hero {
  // background: url('../../assets/img/hero.jpg');
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  height: 500px;
  justify-content: center;
  flex-direction: column;

  @media #{$mobile} {
    margin-bottom: 10px;
  }

  &__destination {
    word-break: break-word;
    hyphens: auto;
  }
}
