@import '../../assets/master';

.Modal {
  background: #141414;
  max-width: 940px;
  width: 50%;
  max-height: 80%;
  z-index: 1;
  position: fixed;
  top: 20%;
  overflow-y: auto;

  @media #{$tablet} {
    width: 75%;
  }

  @media #{$mobile} {
    max-height: 100vh;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  &_wrapper {
    display: flex;
    justify-content: center;
  }

  &_overlay {
    background: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }

  &__image {
    height: 200px;
  }

  &__information {
    text-align: left;
    padding: 0 30px;
    padding-bottom: 30px;

    h2 {
      margin: 15px 0;
      font-size: 42px;
      font-weight: 400;
    }

    .Ratings, .PriceRating {
      margin: 10px 0;
    }

    .PriceRating {
      font-size: 18px;
    }

    &__content {
      font-size: 18px;
    }
  }

  .toggleButton {
    height: 35px;
    border: none;
    background: $primary;
    color: $mono-light;
    font-weight: 400;
    font-size: 17px;
    padding: 0 20px;
    cursor: pointer;
    border: 2px solid transparent;

    @media #{$mobile} {
      font-size: 16px;
    }
  }
}

// .modal {
//   width: 500px;
//   background: white;
//   border: 1px solid #ccc;
//   transition: 1.1s ease-out;
//   box-shadow: 
//     -2rem 2rem 2rem rgba(black, 0.2);
//   filter: blur(0);
//   transform: scale(1);  
//   opacity: 1;
//   visibility: visible;
//   &.off {
//     opacity: 0;
//     visibility: hidden;
//     filter: blur(8px);
//     transform: scale(0.33);
//     box-shadow: 1rem 0 0 rgba(black, 0.2);
//   }
//   @supports (offset-rotate: 0deg) {
//     offset-rotate: 0deg;
//     offset-path: path("M 250,100 S -300,500 -700,-200");
//     &.off {
//       offset-distance: 100%;
//     }
//   }
//   @media (prefers-reduced-motion) {
//     offset-path: none;
//   }
//   h2 {
//     border-bottom: 1px solid #ccc;
//     padding: 1rem;
//     margin: 0;
//   }
//   .content {
//     padding: 1rem;
//   }
//   .actions {
//     border-top: 1px solid #ccc;
//     background: #eee;
//     padding: 0.5rem 1rem;
//   }
// }
// .modal .actions button {
//   border: 0;
//   background: gray;
//   border-radius: 5px;
//   padding: 0.5rem 1rem;
//   margin: 0.5rem 0.5rem;
//   font-size: 0.8rem;
//   line-height: 1;
// }
// #centered-toggleButton {
//   position: absolute;
// }
