@import '../../assets/master';

.PopularDestinations {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
  }

  &__cards {
    text-shadow: 1px 1px 10px #2b2b2b;
    display: flex;
    justify-content: space-between;
    position: relative;
    // padding-right: 40px;
    // padding-left: 40px;
  }

  &__minus {
    height: 300px;
    width: 40px;
    line-height: 300px;
    position: absolute;
    z-index: 1;
    left: 0px;
    cursor: pointer;
    font-size: 50px;
    user-select: none;
  }
  &__plus {
    height: 300px;
    width: 40px;
    line-height: 300px;
    right: 0px;
    text-align: center;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    font-size: 50px;
    user-select: none;
  }
}