$primary: #56CCF2;
$secondary: #141414;

$accent-light: #84DAF6;
$accent-med-light: #25BDEE;
$accent-med-dark: #0C7DA1;
$accent-dark: #053342;

$mono-light: #F5F5F5;
$mono-med-light: #E0E0E0;
$mono-med-dark: #949494;
$mono-dark: #2E2E2E;

$success: #27AE60;
$danger: #EB5757;
$warn: #F2C94C;
