.wrapper {
    width: 100%;
    max-width: 1240px;
    align-self: center;
}
.Nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;

    &__logo {
        width: 150px;
    }

    &__google {
        align-self: center;
    }
}